#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        delete_combo2 {
            bindings = <&kp DELETE>;
            key-positions = <9 19>;
            layers = <0>;
        };

        minus_combo {
            bindings = <&kp MINUS>;
            key-positions = <32 33>;
            layers = <1>;
        };

        undo_combo {
            bindings = <&kp LC(Z)>;
            key-positions = <20 21>;
            layers = <0 1>;
        };

        BackspaceWord_combo {
            bindings = <&lt 3 LC(BACKSPACE)>;
            key-positions = <30 31>;
            layers = <0>;
        };

        delete_comb {
            bindings = <&lt 6 DELETE>;
            key-positions = <33 32>;
            layers = <0>;
        };

        F5_combo {
            bindings = <&kp F5>;
            key-positions = <17 7>;
        };

        prtscn_combo {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <15 5>;
        };

        underscore_combo {
            bindings = <&kp UNDERSCORE>;
            key-positions = <32 33>;
            layers = <2>;
        };

        middle_click_combo {
            bindings = <&mkp MCLK>;
            key-positions = <30 31>;
            layers = <4>;
        };

        pin_combo {
            bindings = <&pin_macro>;
            key-positions = <30 33 31 32>;
        };

        Caps {
            bindings = <&kp CAPS>;
            key-positions = <1 2>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <4 3>;
        };

        NewWindow_macro {
            bindings = <&NewWindow_macro>;
            key-positions = <14 2>;
        };

        Search {
            bindings = <&kp LC(E)>;
            key-positions = <3 2>;
        };

        SwitchTabs {
            bindings = <&kp LA(TAB)>;
            key-positions = <24 23>;
        };

        Paint {
            bindings = <&paint_macro>;
            key-positions = <4 3>;
        };

        tabs {
            bindings = <&Switch_macro>;
            key-positions = <13 14>;
        };
    };

    macros {
        pin_macro: pin_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(M) &kp I &kp S &kp S &kp LS(D) &kp A &kp I &kp S &kp Y &kp MINUS &kp N1 &kp N2 &kp N3>;
            label = "PIN_MACRO";
            wait-ms = <25>;
            tap-ms = <25>;
        };

        NewWindow_macro: NewWindow_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "NEWWINDOW_MACRO";
            wait-ms = <50>;
            tap-ms = <50>;
        };

        Switch_macro: Switch_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kt LEFT_WIN>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "SWITCH_MACRO";
            wait-ms = <25>;
            tap-ms = <25>;
        };

        paint_macro: paint_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LEFT_WIN>,
                <&macro_wait_time 100>,
                <&kp M &kp S &kp P &kp A &kp I &kp N &kp T &kp DOT &kp E &kp X &kp E>,
                <&macro_wait_time 100>,
                <&kp ENTER>;

            label = "PAINT_MACRO";
            wait-ms = <50>;
            tap-ms = <50>;
        };

        Brackets_macro: Brackets_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "BRACKETS_MACRO";
            wait-ms = <50>;
            tap-ms = <50>;
        };

        CB_History_macro: CB_History_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "CB_History_macro";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        MoveRight_macro: MoveRight_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>;

            label = "MOVERIGHT_MACRO";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        SelectLine_macro: SelectLine_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "SELECTLINE_MACRO";
        };

        MoveLeft_macro: MoveLeft_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>;

            label = "MOVELEFT_MACRO";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        TextExtractor_macro: TextExtractor_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp T>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LEFT_SHIFT>;

            label = "TEXTEXTRACTOR_MACRO";
            wait-ms = <1>;
            tap-ms = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mt TAB Q    &kp W  &kp E  &kp R       &kp T             &kp Y            &kp U              &kp I                &kp O            &kp P
&mt LSHFT A  &kp S  &kp D  &mt LALT F  &mt LEFT_WIN G    &mt RIGHT_WIN H  &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &kp APOS
&mt LCTRL Z  &kp X  &kp C  &kp V       &kp B             &kp N            &kp M              &kp COMMA            &kp PERIOD       &kp SLASH
                           &lt 2 ESC   &lt 1 ENTER       &lt 4 SPACE      &lt 5 BACKSPACE
            >;
        };

        num_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END            &Brackets_macro    &kp LEFT_BRACKET  &kp N7        &kp N8        &kp N9        &kp RIGHT_BRACKET
&kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW    &mt LC(V) LC(X)    &kp EQUAL         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SEMICOLON
&caps_word     &trans          &trans          &CB_History_macro  &mt LC(V) LC(C)    &kp BACKSLASH     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp GRAVE
                                               &trans             &trans             &kp N0            &kp PERIOD
            >;
        };

        symbol_layer {
            bindings = <
&trans                &trans        &trans             &trans            &trans    &kp LEFT_BRACE        &kp AMPERSAND          &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE
&TextExtractor_macro  &trans        &MoveLeft_macro    &MoveRight_macro  &trans    &kp PLUS              &kp DOLLAR             &kp PERCENT   &kp CARET             &kp COLON
&trans                &kp LS(HOME)  &SelectLine_macro  &kp LS(END)       &trans    &kp PIPE              &kp EXCLAMATION        &kp AT_SIGN   &kp HASH              &kp TILDE
                                                       &trans            &trans    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
            >;
        };

        function_layer {
            bindings = <
&bt BT_PRV      &trans  &bootloader  &trans  &bt BT_NXT    &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F12
&trans          &trans  &soft_off    &trans  &trans        &kp SCROLLLOCK   &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_CLR_ALL  &trans  &trans       &trans  &trans        &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F10
                                     &trans  &trans        &trans           &trans
            >;
        };

        mouse_layer {
            bindings = <
&msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &trans        &trans  &trans     &trans     &trans     &trans
&msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans        &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK  &trans
&kp K_UNDO      &kp K_CUT       &kp K_COPY      &kp K_PASTE      &kp K_REDO    &trans  &trans     &trans     &trans     &trans
                                                &mkp LCLK        &mkp RCLK     &trans  &trans
            >;
        };

        navigation_layer {
            bindings = <
&kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END      &kp INSERT      &trans  &trans  &trans  &trans  &trans
&kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT    &kp CAPSLOCK    &trans  &trans  &trans  &trans  &trans
&kp K_UNDO     &kp K_CUT       &kp K_COPY      &kp K_PASTE  &kp K_REDO      &trans  &trans  &trans  &trans  &trans
                                               &trans       &trans          &trans  &trans
            >;
        };

        media_layer {
            bindings = <
&trans  &kp K_PREVIOUS  &kp C_VOLUME_UP    &kp K_NEXT          &trans              &trans  &trans  &trans  &trans  &trans
&trans  &kp C_REWIND    &kp C_VOLUME_DOWN  &kp C_FAST_FORWARD  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans          &kp K_MUTE         &trans              &trans              &trans  &trans  &trans  &trans  &trans
                                           &kp K_MUTE          &kp K_PLAY_PAUSE    &trans  &trans
            >;
        };
    };
};
